{% extends "UlipseWorkincloserBundle::layout.html.twig" %}

{% block content %}
    {{ second.username }}
<ul>
{% for address in addresses %}
    <li>{{ address.type }}: {{ address.text }}</li>
{% endfor %}
</ul>
    <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    
        {{ form_widget(form) }}

        <input type="submit"  value="Send message to {{ second.username }}" />
    </form>
{% endblock %}